<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322762369504-op6onml8am41cvjq0b5o0gp589sl6khn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322762369504-op6onml8am41cvjq0b5o0gp589sl6khn</string>
	<key>API_KEY</key>
	<string>AIzaSyBIDWkmx2MUpjfhxGfbQKh1jMoO61WQKgE</string>
	<key>GCM_SENDER_ID</key>
	<string>322762369504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eduardo.APP-FlashChat</string>
	<key>PROJECT_ID</key>
	<string>app-flashchat-57167</string>
	<key>STORAGE_BUCKET</key>
	<string>app-flashchat-57167.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322762369504:ios:92b512f0f28b0915632385</string>
</dict>
</plist>